@font-face {
    font-family: "A Love of Thunder";
    src: url("fonts/A Love of Thunder.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "American Typewriter";
  overflow-x: hidden;
  box-sizing: border-box;
}

h1,h2,h3,h4 {
  font-family: "A Love Of Thunder";
}

a {
  text-decoration: none;
  color: #000;
}

button:hover, .submit:hover {
  cursor: pointer;
}


input, select, option {
  display: block;
  text-align: center;
  padding-left: 10px;
}

select {
  text-align-last: center;
}

option {
  text-align: left;
}

textarea {
  margin : 0 auto;
  margin-bottom: 20px;
  margin-top: 0;
  padding-left: 10px;
  padding-top: 5px;
  height: 150px;
  width: 90%;
  border: 2px solid #8CC63F;
  background: #FFFDF5;
  border-radius: 17px;
  font-size: 20px;
  color: #8CC63F;
}

textarea::placeholder {
  color: #8CC63F;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}

input::placeholder, select::placeholder {
  color: #8CC63F;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.double-space {
  line-height: 40px;
}

.float-right {
  float: right;
}

.vertical-center {
  margin: 0;
  float: right;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-graphic {
  display: none;
}

.header {
  display: block;
}

.container {
  background: #FFFDF5;
  height: auto;
  text-align: center;
}

/* Homepage */
.topNav {
  padding: 2.5%;
  height: 100px;
  box-sizing: border-box;
}

.ham {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  z-index: 1000;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("https://ljc-dev.github.io/testing0/ham.svg");
  background-size: 100%;
}


/* change ham image to close */
.showClose {
  background-image: url("https://ljc-dev.github.io/testing0/ham-close.svg");
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background: #8CC63F;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  /* hide the menu above the screen by default */
  transform: translateY(-100%);
  /* transition adds a little animation when sliding in and out the menu */
  transition: transform 0.2s ease;
}

.notlink img {
  height: 70%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding-left: 36px;
}


.showNav {
  /* show the menu */
  transform: translateY(0);
}

/* basic nav styling below */

.navbar ul {
  width: 100%;
  height: 80%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.navbar ul li a {
  color: #FFFDF5;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  text-decoration: none;
  font-family: 'A Love of Thunder';
  font-size: 2.2rem;
}

.navbar ul li a:hover, .navbar ul li a:focus {
  border-bottom: 2px solid white;
}

.hero-container {
  background: #8CC63F;
  height: 65vh;
  overflow-y: hidden;
}

.logo img {
  max-width: 40% !important;
  padding: 15px 0;
  display: inline-block;
}

.hamburger-menu {
  display: inline-block;
}

.hero-container img {
  max-width: 80%;
}

.dragon-graphic {
  padding-top: 5%;
}

.category {
  padding: 3em 0;
  position: relative;
}

.category img {
  max-width: 250px;
  max-height: 250px;
}

.category h1 {
  font-size: 48px;
  color: #8CC63F;
}

.wwa-text {
  padding: 1.2rem 2.5rem;
  font-family: "American Typewriter";
}

.wwa-text h1 {
  color: #8CC63F;
}

.wwa-text p {
  padding: 20px 0;
}

.wwa-text button {
  min-width: 200px;
  height: 60px;
  border-radius: 17px;
  color: #8CC63F;
  border: 3px solid #8CC63F;
  background-color: #FFFDF5;
  font-size: 18px;
  font-family: inherit;
}

.when-container, .where-container{
  padding: 10% 20%;
}

.where-header, .when-header {
  padding-bottom: 10px;
}

.when-text {
    position: relative;
    text-align: right;
    white-space: nowrap;
    font-family: "American Typewriter";
    line-height: 40px;
}

.label, .text {
  background: #728440;
  position: relative;
  font-size: 18px;
}

.label {
    float: left;
    margin-right: 20px;
    padding-right: 4px;
    font-weight: 600;
}

.text {
    padding-left: 4px;
    float: right;
}

.graphic-container img {
  width: 60%;
}

.where-text span {
  font-size: 18px;
  line-height: 40px;
}

.business-information-container {
    background: #728440;
    color: #FFFDF5;
}

.hp-reservation-container {
  padding: 60px 0;
}

.hp-reservation {
  border: 3px solid #8CC63F;
  border-radius: 17px;
  margin: 0 7.5%;
  padding: 30px 0;
  color: #8CC63F;
}

.hp-reserv-header {
  font-size: 12px;
}

form input, form select {
  margin : 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 50px;
  width: 90%;
  border: 3px solid #8CC63F;
  background: #FFFDF5;
  border-radius: 17px;
  font-size: 20px;
  color: #8CC63F;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.submit {
  border: none;
  background: none;
  font-family: "A Love Of Thunder";
  margin-bottom: 0;
  font-size: 24px;
}
/* Homepage */

/* Menu */
.menu-listing {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.drink-title {
  font-weight: 600;
}

.menu-container {
  color: #728440;
  padding: 0 5%;
}

.menu-container h1 {
  color: #728440;
  padding: 10px 0;
  font-size: 36px;
}

.menu-container h3 {
  color: #8CC63F;
  font-size: 24px;
  padding: 7px 0;
}

.listing {
  padding: 10px 0;
}

/* Menu */

/* Contact */
.contact-container {
  color: #8CC63F;
  padding: 0 2.5%;
}

.contact-container a {
  color: #8CC63F
}
.contact-container input {
  text-align: left;
  border: 2px solid #8CC63F;
}

.contact-container .contact-content button {
  min-width: 200px;
  height: 60px;
  border-radius: 20px;
  color: #fff;
  border: none;
  background: #728440;
  font-size: 18px;
  font-family: inherit;
}

.contact-container h1 {
  color: #728440;
}

.contact-info-container {
  padding: 20px 0;
  padding-bottom: 20px;
}

.map {
  padding-top: 50px;
  height: 100%;
  width: 100px;
}
/* Contact */

/* Reservations */
.reservation-container label {
  font-family: "A Love of Thunder";
  color: #8CC63F;
  font-size: 24px;
}

.reservation-container h1 {
  color: #728440;
  padding: 7.5% 0;
}

.reservations-container {
  min-height: 100vh;
}

.reservation-container {
  border: 3px solid #8CC63F;
  border-radius: 20px;
  margin: 0 20px;
}

.reservation-container input, .reservation-container select {
  width: 70%;
}
/* Reservations */

/* Games */
.game-badge-container {
  display: none;
}

.games-container {
  color: #728440;
}

.games-header img {
  display: none;
}

.games-container th {
  font-weight: 400;
  padding: 3% 5%;
  line-height: 30px;
}

.games-container h1 {
  color: #728440;
  font-size: 36px;
}

.games-container h3 {
  color: #8CC63F;
  font-size: 24px;
}

.game-badge {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
}

.badge-img {
  flex-basis: 20%;
}

.badge-title {
  flex-basis: 80%;
}

.complexity-container {
  padding: 5% 0;
}

.complexity-key {
  display: flex;
  justify-content: space-between;
}

.arrow {
  font-size: 60px;
  line-height: 20px;
}

.complexity-graphics-container {
  width: 80%;
  margin: 0 auto;
}

.complexity-graphics-container img{
  width: 100%;
}

.complexity-text {
  padding: 10px 20px;
}

.badge-description {
  display: none;
}

.badge-img img {
  min-width: 50px;
}

.games-container .game-description, .games-container .game-mechanics {
  display: none;
}

.game-menu {
  padding: 0 5%;
}

.classic-games h1 {
  color: #FFFDF5;
  background: #8CC63F;
  padding: 3% 0;
}

.coop-games h1 {
  background: #00AEEF;
  color: #000;
  padding: 3% 0;
}

.gem-games h1 {
  background: #F6B01D;
  color: #000;
  padding: 3% 0;
}

.party-games h1 {
  background: #A06DAE;
  color: #000;
  padding: 3% 0;
}

.staple-games h1 {
  background-color: #D2232A;
  color: #000;
  padding: 3% 0;
}

.twoplayer-games h1 {
  background: #A8AAAD;
  color: #000;
  padding: 3% 0;
}

.classic-games tr {
  border-bottom: 1px solid #8CC63F;
}

.coop-games tr {
  border-bottom: 1px solid #00AEEF;
}

.gem-games tr {
  border-bottom: 1px solid #F6B01D;
}

.party-games tr {
  border-bottom: 1px solid #A06DAE;
}

.staple-games tr {
  border-bottom: 1px solid #D2232A;
}

.twoplayer-games tr {
  border-bottom: 1px solid #A8AAAD;
}

tr:last-child {
  border: none;
}
/* Games */

/* Footer */

.footer-element {
  padding: 1.25rem 0;
  font-size: 18px;
}

.footer-logo img {
  width: 80px;
}

.footer-social-links img {
  width: 25px;
}

.footer-links a{
  padding-bottom: 2.25rem;
  color: #000 !important;
}
/* Footer */

@media only screen and (min-width: 768px) {
/* Homepage */
.dragon-graphic img {
  max-width: 60%;
}

.wwa-text {
  padding: 3.0rem 4rem;
  line-height: 25px;
}

.graphic-container img {
  width: 50%;
}
/* Homepage */

/* Games */
.complexity-text {
  padding: 10px 15%;
}

.complexity-graphics-container {
  width: 60%;
}

.complexity-graphics img {
  width: 100%;
}

.game-badges-container {
  padding: 5% 5%;
}

.game-badge {
  padding: 2% 0;
  height: auto;
  font-size: 14px;
  position: relative;
}

.badge-img {
  flex-basis: 10%;
}

.badge-title {
  display: inline-block;
  flex-basis: 12.5%;
  flex-wrap: wrap;
}

.badge-description {
  display: block;
  flex-basis: 70%;
  text-align: left;
}
/* Games */
}

@media only screen and (min-width: 992px) {
/* Homepage */
.hero-container {
  height: 100vh;
}

.topNav {
  padding: 1%;
  height: 150px;
  box-sizing: border-box;
}

.dragon-graphic img {
  max-width: 40%;
}

.logo img {
  max-width: 50% !important;
  padding: 15px 0;
}

.menu-cats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category-link {
  flex-basis: 50%;
}

.category img {
  min-width: 350px;
  min-height: 350px;
}

.game-menu-category {
  flex-basis: 100%;
}

.wwa-text {
  padding: 3.0rem 20rem;
}

.business-information-container {
  margin: 0 2.75%;
  display: flex;
  justify-content: space-around;
}

.graphic-container {
  padding: 5% 5%;
}

.graphic-container img {
  width: 100%;
}

.when-container, .where-container{
  padding: 5% 5%;
}

.hp-reservation {
  margin: 0 25%;
}

.hp-reserv-header {
  font-size: 18px;
}

form input, form select {
  width: 40%;
}

.submit {
  font-size: 32px;
}
/* Homepage */

/* Contact Page */
.contact-content-container {
  display: flex;
  justify-content: space-between;

}

.contact-content {
  flex-basis: 50%;
}

.contact-info {

}

.contact-content input,.contact-content textarea {
  width: 80%;
}
/* Contact Page */

/* Menu */
.menu-graphic {
  display: block;
  max-width: 70%;
}
.drink-menu-container, .doughnut-menu-container {
  display: flex;
  justify-content: space-between;
}

.drink-menu,.doughnut-menu {
  width: 500px;
  padding-right: 10%;
}

.menu-container {
  padding: 0;
}

.menu-container h1 {
  font-size: 56px;
}

.menu-container h3 {
  font-size: 36px;
}

.drink-title {
  text-align: left;
  padding-bottom: 7.5px;
}

.listing {
  padding: 20px 0;
}
/* Menu */

/* Reservations */
.reservation-container {
  margin: 0 12.5%;

}

.reservation-container h1 {
  font-size: 48px;
}

.reservation-container input, .reservation-container select {
  width: 40%;
}

.reservation-container form {
  display: flex;
  flex-wrap: wrap;
}

.reservation-container .res-select {
  flex-basis: 50%;
  padding-bottom: 10%;
}
/* Reservations */

/* Games */
.games-container h3 {
  font-size: 36px;
  padding-bottom: 2.5%;
}

.games-header {
  display: flex;
  justify-content: space-between;
}

.games-header img {
  display: block;
  flex-basis: 35%;
  max-height: 500px;
}

.games-header h1 {
  font-size: 64px;
  margin: 0;
  padding-top: 17.5%;
  padding-left: 12.5%;
}

.complexity-graphics-container {
  width: 45%;
}

.complexity-text {
  padding: 10px 25%;
  line-height: 30px;
}

.complexity-graphics img {
  width: 100%;
}

.game-badge {
  padding: 0% 0;
}

.games-container .game-description, .games-container .game-mechanics {
  display: block;
  min-width: 50%;
  padding: 3% 5%
}

.game-description {

}
/* Games */
}


@media only screen and (min-width: 1200px) {

}
