@font-face {
    font-family: "A Love of Thunder";
    src: url("fonts/A Love of Thunder.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "American Typewriter";
  overflow-x: hidden;
}

h1,h2,h3,h4 {
  font-family: "A Love Of Thunder";
}

a {
  text-decoration: none;
  color: #000;
}

input {
  display: block;
  text-align: center;
  padding-left: 10px;
}

textarea {
  margin : 0 auto;
  margin-bottom: 20px;
  margin-top: 0;
  padding-left: 10px;
  padding-top: 5px;
  height: 150px;
  width: 90%;
  border: 2px solid #8CC63F;
  background: #FFFDF5;
  border-radius: 17px;
  font-size: 20px;
  color: #8CC63F;
}

textarea::placeholder {
  color: #8CC63F;
}

textarea:focus, input:focus{
    outline: none;
}

input::placeholder {
  color: #8CC63F;
}

.double-space {
  line-height: 40px;
}

.menu-graphic {
  display: none;
}

.header {
  display: block;
}

.container {
  background: #FFFDF5;
  height: auto;
  text-align: center;
}

/* Homepage */
.hero-container {
  background: #8CC63F;
  height: 65vh;
}

.logo img {
  max-width: 40% !important;
  padding: 15px 0;
}

.hero-container img {
  max-width: 80%;
}

.category {
  padding: 3em 0;
}

.category img {
  max-width: 250px;
  max-height: 250px;
}

.wwa-text {
  padding: 1.2rem 2.5rem;
  font-family: "American Typewriter";
}

.wwa-text h1 {
  color: #8CC63F;
}

.wwa-text p {
  padding: 20px 0;
}

.wwa-text button {
  min-width: 200px;
  height: 60px;
  border-radius: 17px;
  color: #8CC63F;
  border: 3px solid #8CC63F;
  background-color: #FFFDF5;
  font-size: 18px;
  font-family: inherit;
}

.when-container, .where-container{
  padding: 10% 20%;
}

.where-header, .when-header {
  padding-bottom: 10px;
}

.when-text {
    position: relative;
    text-align: right;
    white-space: nowrap;
    font-family: "American Typewriter";
    line-height: 40px;
}

.label, .text {
  background: #728440;
  position: relative;
  font-size: 18px;
}

.label {
    float: left;
    margin-right: 20px;
    padding-right: 4px;
    font-weight: 600;
}

.text {
    padding-left: 4px;
    float: right;
}

.graphic-container img {
  width: 60%;
}

.where-text span {
  font-size: 18px;
  line-height: 40px;
}

.business-information-container {
    background: #728440;
    color: #FFFDF5;
}

.hp-reservation-container {
  padding: 60px 0;
}

.hp-reservation {
  border: 3px solid #8CC63F;
  border-radius: 17px;
  margin: 0 7.5%;
  padding: 30px 0;
  color: #8CC63F;
}

.hp-reserv-header {
  font-size: 12px;
}

form input {
  margin : 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 50px;
  width: 90%;
  border: 3px solid #8CC63F;
  background: #FFFDF5;
  border-radius: 17px;
  font-size: 20px;
  color: #8CC63F;
}

.submit {
  border: none;
  background: none;
  font-family: "A Love Of Thunder";
  margin-bottom: 0;
  font-size: 24px;
}
/* Homepage */

/* Menu */
.menu-listing {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.drink-title {
  font-weight: 600;
}

.menu-container {
  color: #728440;
  padding: 0 5%;
}

.menu-container h1 {
  color: #728440;
  padding: 10px 0;
  font-size: 36px;
}

.menu-container h3 {
  color: #8CC63F;
  font-size: 24px;
  padding: 7px 0;
}

/* Menu */

/* Contact */
.contact-container {
  color: #8CC63F;
  padding: 0 2.5%;
}

.contact-container a {
  color: #8CC63F
}
.contact-container input {
  text-align: left;
  border: 2px solid #8CC63F;
}

.contact-container button {
  min-width: 200px;
  height: 60px;
  border-radius: 20px;
  color: #fff;
  border: none;
  background: #728440;
  font-size: 18px;
  font-family: inherit;
}

.contact-container h1 {
  color: #728440;
}

.contact-info-container {
  padding: 20px 0;
  padding-bottom: 20px;
}

.map {
  padding-top: 50px;
}
/* Contact */

/* Reservations */
.reservations-container {
  min-height: 100vh;
}

.reservation-container {
  border: 3px solid #8CC63F;
  border-radius: 40px;
  margin: 0 10px;

}
/* Reservations */

/* Footer */

.footer-element {
  padding: 1.25rem 0;
  font-size: 18px;
}

.footer-logo img {
  width: 80px;
}

.footer-social-links img {
  width: 25px;
}

.footer-links a{
  padding-bottom: 2.25rem;
  color: #000 !important;
}
/* Footer */

@media only screen and (min-width: 768px) {
/* Homepage */
.hero-container img {
  max-width: 60%;
}

.wwa-text {
  padding: 3.0rem 4rem;
  line-height: 25px;
}

.graphic-container img {
  width: 50%;
}
/* Homepage */
}

@media only screen and (min-width: 992px) {
/* Homepage */
.hero-container {
  height: 100vh;
}

.hero-container img {
  max-width: 40%;
}

.logo img {
  max-width: 15% !important;
  padding: 15px 0;
}

.menu-cats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category-link {
  flex-basis: 50%;
}

.category img {
  min-width: 350px;
  min-height: 350px;
}

.game-menu-category {
  flex-basis: 100%;
}

.wwa-text {
  padding: 3.0rem 20rem;
}

.business-information-container {
  margin: 0 2.75%;
  display: flex;
  justify-content: space-around;
}

.graphic-container {
  padding: 5% 5%;
}

.graphic-container img {
  width: 100%;
}

.when-container, .where-container{
  padding: 5% 5%;
}

.hp-reservation {
  margin: 0 25%;
}

.hp-reserv-header {
  font-size: 18px;
}

form input {
  width: 40%;
}

.submit {
  font-size: 32px;
}
/* Homepage */

/* Contact Page */
.contact-content-container {
  display: flex;
  justify-content: space-between;

}

.contact-content {
  flex-basis: 50%;
}

.contact-info {

}

.contact-content input,.contact-content textarea {
  width: 80%;
}

.map iframe{
  width: 100%;
}
/* Contact Page */

/* Menu */
.menu-graphic {
  display: block;
  max-width: 70%;
}
.drink-menu-container, .doughnut-menu-container {
  display: flex;
  justify-content: space-between;
}

.drink-menu,.doughnut-menu {
  width: 400px;
  padding-right: 10%;
}

.menu-container {
  padding: 0;
}

.menu-container h1 {
  font-size: 56px;
}

.menu-container h3 {
  font-size: 36px;
}

.drink-title {
  text-align: left;
  padding-bottom: 7.5px;
}

.listing {
  padding: 20px 0;
}
/* Menu */

/* Reservations */

/* Reservations */
}


@media only screen and (min-width: 1200px) {

}
