@font-face {
    font-family: "A Love of Thunder";
    src: url("fonts/A Love of Thunder.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "American Typewriter";
  overflow-x: hidden;
}

h1,h2,h3,h4 {
  font-family: "A Love Of Thunder";
}

a {
  text-decoration: none;
  color: #000;
}

input {
  display: block;
  text-align: center;
}

input::placeholder {
  color: #8CC63F;
}

.header {
  display: block;
}

.container {
  background: #FFFDF5;
  height: auto;
  text-align: center;
}

/* Homepage */
.hero-container {
  background: #8CC63F;
  height: 65vh;
}

.logo img {
  max-width: 40% !important;
  padding: 15px 0;
}

.hero-container img {
  max-width: 80%;
}

.category {
  padding: 3em 0;
}

.category img {
  max-width: 250px;
  max-height: 250px;
}

.wwa-text {
  padding: 1.2rem 2.5rem;
  font-family: "American Typewriter";
}

.wwa-text h1 {
  color: #8CC63F;
}

.wwa-text p {
  padding: 20px 0;
}

.wwa-text button {
  min-width: 200px;
  height: 60px;
  border-radius: 17px;
  color: #8CC63F;
  border: 3px solid #8CC63F;
  background-color: #FFFDF5;
  font-size: 18px;
  font-family: inherit;
}

.when-container, .where-container{
  padding: 10% 20%;
}

.where-header, .when-header {
  padding-bottom: 10px;
}

.when-text {
    position: relative;
    text-align: right;
    white-space: nowrap;
    font-family: "American Typewriter";
    line-height: 40px;
}

.label, .text {
  background: #728440;
  position: relative;
  font-size: 18px;
}

.label {
    float: left;
    margin-right: 20px;
    padding-right: 4px;
    font-weight: 600;
}

.text {
    padding-left: 4px;
    float: right;
}

.graphic-container img {
  width: 60%;
}

.where-text span {
  font-size: 18px;
  line-height: 40px;
}

.business-information-container {
    background: #728440;
    color: #FFFDF5;
}

.hp-reservation-container {
  padding: 60px 0;
}

.hp-reservation {
  border: 3px solid #8CC63F;
  border-radius: 17px;
  margin: 0 7.5%;
  padding: 30px 0;
  color: #8CC63F;
}

.hp-reserv-header {
  font-size: 12px;
}

form input {
  margin : 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 50px;
  width: 90%;
  border: 3px solid #8CC63F;
  background: #FFFDF5;
  border-radius: 17px;
  font-size: 20px;
  color: #8CC63F;
}

.submit {
  border: none;
  background: none;
  font-family: "A Love Of Thunder";
  margin-bottom: 0;
  font-size: 24px;
}
/* Homepage */

/* Menu */
.menu-listing {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.drink-title {
  font-weight: 600;
}

.menu-container {
  color: #728440;
  padding: 0 5%;
}

.menu-container h1 {
  color: #728440;
  padding: 10px 0;
  font-size: 36px;
}

.menu-container h3 {
  color: #8CC63F;
  font-size: 24px;
  padding: 5px 0;
}

/* Menu */

/* Footer */
.footer-element {
  padding: 1.25rem 0;
  font-size: 18px;
}

.footer-logo img {
  width: 80px;
}

.footer-social-links img {
  width: 25px;
}

.footer-links {
  padding-bottom: 2.25rem;
}
/* Footer */
